spring.application.name=Full-Todo-App-Backend

# Database settings
# CHANGE YOUR DATABASE NAME HERE 
spring.datasource.url=jdbc\:postgresql\://localhost\:5432/{DATABASE_NAME}
spring.datasource.username={YOUR_USERNAME}
spring.datasource.password={YOUR_PASSWORD}
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
server.error.include-message=always

# Full Todo App settings
okta.oauth2.issuer=https\://{YOUR_OKTA_ADDRESS}/oauth2/default
okta.oauth2.client-id={YOUR_CLIENT_ID}
okta.oauth2.client-secret={YOUR_CLIENT_SECRET}
# okta.oauth2.redirect-uri=http\://localhost\:8080/login/oauth2/code/okta
okta.oauth2.scopes=openid,profile,offline_access